{% include "base.html" %}
<div class="container-fluid">
    <div class="card shadow mb-3">
        <div class="container">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h1>{{ _('Het bestand ID aanpassen') }}</h1>
                        <p>{{ _('Pas het bestand') }} <code>{{ _('id') }}</code> {{ _('aan in de esp32 en voer het volgende nummer in') }}: <strong>{{user_id}}</strong></p>
                        <h1>{{ _('Het bestand config.py aanpassen') }}</h1>
                        <p>{{ _('Pas de volgende gegevens in bestand') }} <code>config.py</code> {{ _('aan') }}</p>
                        <ul>
                            <li><code>WIFI_SSID</code> {{ _('achter het = teken moet de naam van uw wifi netwerk staan') }}</li>
                            <li><code>WIFI_PASSWORD</code> {{ _('achter het = teken moet de wachtwoord van uw wifi netwerk staan') }}</li>
                        </ul>
                        <h1>{{ _('De bestanden uploaden') }}</h1>
                        <h5>{{ _('Let op! de bestanden moeten eerst opgeslagen zijn') }}!</h5>
                        <p>{{ _('Upload beide bestanden naar de esp door middel van') }} <a href="https://pypi.org/project/adafruit-ampy/" style="color: red;">ampy</a> {{ _('te installeren en hierna in een terminal') }} <code>ampy -p ({{ _('poortnaam waar de esp in zit') }}) put {{ _('BESTANDSNAAM') }}</code> {{ _('te typen en op enter te klikken') }}</p>
                        <p>{{ _('Hiervoor moet u wel in de goede bestandslocatie zitten in de terminal') }}!</p>
                        <p>{{ _('Gebruik hiervoor') }} <code>cd {{ _('BESTANDSLOCATIE') }}</code></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>