{% include 'base.html' %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">{{ _('Dagelijkse') }} <strong>mood </strong>tracker</h3>
    </div>
    <p class="text-start" style="margin-top: -18px;"><strong>{{ _('Met de mood tracker kun jij direct feedback krijgen op hoe jij je op dit moment voelt') }}</strong></p>
    <div class="row" style="text-align: center;">
        <div class="col">
            <h3 class="text-center text-dark mb-0" style="font-size: 25px;margin-top: 6px;">{{ _('Je hebt aangegeven je vandaag') }} <strong>{{ emotie }} </strong>{{ _('te voelen') }}</h3>
            <hr>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 46px;">
    <div class="row">
        <div class="col-md-12">
            {% if emotie == 'boos' or emotie == 'gefrustreerd' or emotie == 'verdrietig' %}
            <p class="text-center" style="margin-top: -18px;"><strong>{{tip[0]}}</strong></p>
            <p class="text-center" style="margin-top: 5px;">{{ tip[1] }}</p>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-dark mb-0" style="font-size: 25px;margin-top: 6px;"><strong>{{ _('Yoga oefening') }}</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center;margin-top: 22px;">
            <h3 class="text-center text-dark mb-0" style="font-size: 25px;margin-top: 6px;">{{ oefening.name }}</h3><img class="img-fluid" src="{{ oefening.img }}" style="text-align: center;width: auto;min-width: auto;height: 220px;">
            <p class="text-center" style="margin-top: 5px;">{{ _('Wetenschappelijk onderzoek wijst uit dat yoga kan helpen om sombere gevoelens buiten de deur te houden') }}.</p>
        </div>
    </div>
    {% else %}
    <div class="col-md-12" style="text-align: center;margin-top: 22px;">
        <p class="text-center" style="margin-top: -18px;"><strong>{{ _('Wat fijn dat jij je vandaag goed voelt!') }}</strong></p>
        <br>
        <p class="text-center" style="margin-top: -18px;">{{ _('Emotiewiel van Robert Plutchik') }}</p>
        <img class="img-fluid" style="text-align: center;min-width: auto;width: 567px;" src="\static\assets\img\Plutchik-wheel.svg.png" />
    </div>
    {% endif %}
    <div class="p-5" style="text-align: center;">
        <a class="btn btn-primary" type="button" href="dashboard" style="margin-top: 50px; --bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;background: rgb(255,102,37);border-color: rgb(255,102,37);"><strong>Terug naar dashboard</strong></a>
    </div>
</div>
</div>
<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © IoT sportstudies 2022</span></div>
    </div>
</footer>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
</body>

</html>