{% include 'base.html' %}
<div class="container-fluid"><img src="static/assets/img/groot-logo.png" style="width: 185px;"></div>
<div class="p-5">
    <div class="text-center"><img class="img-fluid" src="static/assets/img/undraw_Fitting_pieces_re_nss7.png" , style="width: 250px">
        <h4 class="text-dark mb-4" style="text-align: center;"><strong>{{ _('Aan de slag met vitaliteit') }}</strong></h4>
    </div>
    <p class="text-center">{{ _('Je kunt je vitaliteit op pijl houden') }}, {{ _('of verhogen door goed voor je lichaam te zorgen') }}. {{ ('Zorg bijvoorbeeld voor voldoende slaap') }}, {{ _('eet en drink gezond en beweeg voldoende') }}. {{ _('Jouw lichaam is dan fitter') }} {{ _('en je hebt voldoende basisenergie') }}.</p>
    <div class="mb-3">
        <div class="custom-control custom-checkbox small"></div>
        <div class="container-fluid">
            <div class="row row-cols-2 text-center align-items-start">
                <div class="col-md-6"><a class="btn btn-primary" href="{{url_for('login')}}" type="button" style="width: 120.6875px;border-radius: 5px;height: 35px;background: rgb(0,0,0);border-color: rgba(255,255,255,0);"><strong>{{ _('Inloggen') }}</strong></a></div>
                <div class="col-md-6"><a class="btn btn-primary" href="{{url_for('register')}}" type="button" style="width: 120.6875px;border-radius: 5px;height: 35px;background: rgb(255,102,37);border-color: rgba(255,255,255,0);"><strong> {{ _('Registreren') }}</strong></a></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center"></div>
    <div class="text-center"><label class="form-label" for="username" style="font-size: 15px;"><strong>{{ _('Wachtwoord vergeten?') }}&nbsp;</strong></label><a class="small" href="reset_password" style="color: rgb(0,0,0);"><strong>{{ _('Klik hier') }}</strong></a></div>
    <div class="text-center"><label class="form-label" for="username" style="font-size: 15px;"><strong>{{ _('Geen kleine lettertjes') }}.&nbsp;</strong></label><a class="small" href="privacy" style="color: rgb(0,0,0);"><strong>{{ _('Lees hier hoe wij met uw gegevens omgaan') }}</strong></a></div>
</div>
</div>
</div>
</div>
</body>
</html>