{% include 'base.html' %}
<div class="container-fluid">
    <h3 class="text-dark mb-1">{{ _(Privacy) }}</h3>
</div>
<div class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1 class="text-center" style="color: rgb(0,0,0);margin-top: 21px;font-size: 17.64px;"><strong>Hoe wij omgaan met uw gegevens</strong></h1><img class="img-fluid" style="text-align: center;max-width: 249px;" src="\static\assets\img\private.png">
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-top: 18px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center"><strong>{{ _('Uw gegevens worden niet gedeeld') }}.</strong> {{ _('De gegevens worden wel veilig opgeslagen in onze database. Deze') }} <strong>{{ _('gegevens') }} </strong>{{ _('worden') }} <strong>{{ _('verzameld') }} </strong>{{
                        _('aan de hand van verzonden antwoorden uit onder andere') }}<strong> {{ _('vragenlijst') }} </strong> {{ _('en') }} <strong>{{ _('sensormetingen') }}</strong>.</p>
                    <p class="text-center">{{ _('Met deze gegevens kunnen wij uw') }} <strong>{{ _('welzijn') }} </strong>{{ _('in kaart brengen met als doel dit te') }} <strong>{{ _('verbeteren') }}</strong>.</p>
                    <p class="text-center">{{ _('Uw gegevens worden direct na het verzenden opgeslagen in onze') }} <strong>{{ _('eigen database') }}.</strong> {{ _('Na het') }} <strong>{{ _('verwijderen') }}</p></strong> {{ _('van uw account blijven de gegevens van de vragenlijsten
                        in onze database') }}.</p>
                    <p class="text-center">{{ _('Uw persoonsgegevens') }} <strong>{{ _('verwijderen') }}</strong> {{ _('we wel volledig') }}.</p>
                    <p class="text-center">{{ _('Dit doen we zodat we u niet meer aan deze gegevens kunnen koppelen') }}.</p>
                    <p class="text-center">{{ _('Voor vragen of om uw gegevens in te zien verzoeken wij u te mailen naar') }} <strong>no_reply_livia@outlook.com.</strong></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="col" style="margin-top: 22px;"><a class="btn btn-primary" href='profiel' style="width: 120.6875px;border-radius: 5px;height: 38px;background: rgb(225,121,77);border-color: rgba(255,255,255,0);"><strong>{{ _('Terug') }}</strong></a></div>
    </div>
</div>
</div>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
</body>
<script src="static/assets/js/Taal_Privacy.js"></script>

</html>